<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="fr">
<head th:replace="fragments:: head">
</head>
<body>
<header th:replace="fragments:: nav"></header>

<div class="container">

    <div class="form-group row">
        <div class="col-6">
            <h1 class="my-5">Ajouter un nouveau artiste </h1>

            <hr>
            <form  th:action="@{/admin/create/artiste}" method="post" enctype="multipart/form-data" th:object="${artiste}">
                <fieldset>
                    <legend class="ml-2">Informations sur l'artiste</legend>
                    <div class="form-group">
                        <label class="ml-2" for="name">Nom de l'artiste :</label>
                        <input type="text" id="name" th:field="*{name}" class="form-control" placeholder="Entrez le nom de l'artiste">
                    </div>
                    <div class="form-group">
                        <label for="ville" class="ml-2">Ville :</label>
                        <input type="text" id="ville" th:field="*{presentation}" class="form-control" placeholder="Ajouter un role">
                        <label for="photoUrl" class="col col-form-label">Photo de profil:</label>
                        <input id="photoUrl" name="photoUrl" placeholder="Entrez le lien commencant par http://"  th:field="*{photoUrl}" type="text" class="form-control">

                    </div>
                    <div class="form-group">
                    <label for="spectacle" class="col col-form-label ">participation aux spectacles :</label>
                    <ul class="d-lg-flex justify-content-around flex-row" name="spectacle" id="spectacle">
                        <li  th:each="spectacle : ${spectacles}" style="margin-right: 2rem;">
                            <input class="form-check-input" type="checkbox" th:text="${spectacle.name}" th:value="${spectacle.id}" th:field="*{spectacles}"></li>
                    </ul>
                    <input class="btn btn-secondary ml-2 mt-3" type="submit" value="Créer" />
                    </div>
                </fieldset>
            </form>
        </div>
        <hr>
        <hr>

    </div>
</div>

<footer th:replace="fragments:: footer"></footer>

</body>
</html>