<!DOCTYPE html>
<html lang="fr" xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments:: head" >
</head>

<body>
<header th:replace="fragments :: nav" ></header>
<div class="container my-4">
    <div class="row">
        <div class="col-12">
            <h3>Administration des spectacles</h3>

            <table class="table">
                <thead>
                <tr>
                    <th scope="col">id</th>
                    <th scope="col">Nom du spectacle :</th>
                    <th scope="col">Ville :</th>

                </tr>
                </thead>
                <tbody>
                <tr class="table-active" th:each="spectacle : ${spectacles}">
                    <td th:text="${spectacle.id}">id</td>
                    <td th:text="${spectacle.name}">name</td>
                    <td th:text="${spectacle.ville}">ville</td>

                    <td><a class="btn btn-outline-dark" th:href="@{/admin/edit/spectacle(id=${spectacle.id})}"><i class="fas fa-pen"></i></a></td>
                    <td><a class="btn btn-outline-dark" th:href="@{/admin/delete/spectacle(id=${spectacle.id})}"><i class="fas fa-trash"></i></a></td>
                </tr>
                </tbody>
            </table>
            <h3>Administration des Artistes</h3>

            <table class="table">
                <thead>
                <tr>
                    <th scope="col">id</th>
                    <th scope="col">Nom du artiste :</th>
                    <th scope="col">Role :</th>

                </tr>
                </thead>
                <tbody>
                <tr class="table-active" th:each="artiste : ${artistes}">
                    <td th:text="${artiste.id}">id</td>
                    <td th:text="${artiste.name}">name</td>
                    <td th:text="${artiste.presentation}">presentation</td>

                    <td><a class="btn btn-outline-dark" th:href="@{/admin/edit/artiste(id=${artiste.id})}"><i class="fas fa-pen"></i></a></td>
                    <td><a class="btn btn-outline-dark" th:href="@{/admin/delete/artiste(id=${artiste.id})}"><i class="fas fa-trash"></i></a></td>
                </tr>
                </tbody>
            </table>
            <br>
        </div>
        <div class="d-flex m-auto">
            <a class="btn btn-outline-dark m-auto d-table" th:href="@{admin/create/spectacle}">
                &nbsp; Créer <br> un spectacle</a>
            <a class="btn btn-outline-danger m-auto d-table" th:href="@{/admin/create/artiste}">
                &nbsp; Ajouter <br> un artiste</a>
        </div>
    </div>

</div>
<footer th:replace="fragments:: footer" ></footer>
</body>
</html>