<!DOCTYPE html>
<html lang="fr" xmlns:th="http://www.thymeleaf.org">

<head th:replace="fragments:: head"></head>

<body>
<nav th:replace="fragments:: nav"></nav>
<section class="hero ">
<h2 class="slogan text-center">Le cirque le plus sauvage du monde !</h2>
</section>

<section class="container">

                <h2 id="performances">Performances</h2>
                <ul class=" performances row">

                    <li class="col">
                        <h3><i class="fas fa-laugh-wink"></i>&nbsp;Laugh</h3>
                        <p>As an adult, come and discover our irresistible clowns, between practical jokes and pranks let yourself be carried away by their joy and fall back into childhood.</p>
                    </li>

                    <li class="col">
                        <h3><i class="fas fa-cloud-moon"></i>&nbsp;Dream</h3>
                        <p>Let yourself be carried away in a world where the real and the imaginary are one, in the company of our talented magicians, discover a wonderful world limited only by your imagination.</p>
                    </li>

                    <li class="col">
                        <h3><i class="fas fa-heart"></i>&nbsp;Marvel at</h3>
                        <p>Tame the untameable in the company of our tamers, between roar and razor-sharp claws, watch these fierce felines turn into sweet kittens.</p>
                    </li>
                </ul>
            </article>
</section>

<hr />

<section class="container">

        <article class="row">
            <h2 class="text-center col" id="about">About Us</h2>
                <div class="card-body image-text col">

                    <img class="image" src="http://claudinedu11200.c.l.pic.centerblog.net/b68b0d61.jpg" alt="image cirque">
                </div>
                    <div class="col">
                        <h4>&nbsp; &nbsp; Team Wild Circus </h4>
                        <p class="text-center m-auto" style="width:500px;" >&nbsp;&nbsp; At Wild Circus, we strive to provide exactly what our customers are looking for. A huge part of our brainstorming process is looking at our client feedback to make sure you're well taken care of. <br>
                            &nbsp;&nbsp; We are personally committed to delivering the very best. Everything, from customer support to product design and development, is provided by our dedicated (and adorable) team in beautiful Tours, France.

                            <br>
                        </p>
                    </div>

        </article>
</section>
                <section>
                <div class="row bg-black">
                    <div class="col-4">

                        <h4 class="card-title">
                            Arnaud Petit
                        </h4>
                        <hr>

                        <img src="https://randomuser.me/api/portraits/men/43.jpg" class="avatar-medium" alt="avatar de ">
                        <div class="card-text">
                            <hr>
                            <p>FOUNDER &amp; CHIEF EXECUTIVE OFFICER
                            </p>
                            <a href="" class="btn btn-danger float-right">En savoir +</a>
                        </div>
                    </div>

                    <div class="col-4">

                        <h4 class="card-title">
                            Céline Guinot
                        </h4>
                        <hr>

                        <img src="https://randomuser.me/api/portraits/women/49.jpg" class="avatar-medium" alt="avatar de ">
                        <hr>
                        <div class="card-text">
                            <p>CHIEF FINANCIAL OFFICER &amp; CHIEF OPERATING OFFICER
                            </p>

                            <a href="" class="btn btn-danger float-right">En savoir +</a>
                        </div>
                    </div>
                    <div class="col-4">

                        <h4 class="card-title">
                            Ly Tang
                        </h4>
                        <hr>

                        <img src="https://randomuser.me/api/portraits/women/90.jpg" class="avatar-medium" alt="avatar de ">
                        <hr>
                        <div class="card-text">
                            <p>VICE PRESIDENT OF PRODUCT, CONSUMER PRODUCTS
                            </p>

                            <a href="" class="btn btn-danger float-right">En savoir +</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<hr />

<section class="artistes">

</section>

<hr />


<footer th:replace="fragments:: footer"></footer>
</body>

</html>
